@using GridCore
@using GridMvc
@addTagHelper *, GridMvc
@model PersonalViewModel

<div class="row" style="margin-top: 2rem; margin-bottom: 3rem;">

    <div style="font-size: 2.5rem; font-weight: 750; color: var(--text-title-color);
        display: flex; justify-content: center; align-items: center; position: relative;">
        
        <a asp-controller="Personal" asp-action="Index" style="position: absolute; left: 0;">
            <img src="img/logoNCO.png" alt="" style="width: 9rem;" />
        </a>

        <span class="name">
            Formulario de Ingreso
        </span>

    </div>

</div>

@* Contenido tabs *@
@using (Html.BeginForm("Create", "Personal", FormMethod.Post))
{
    <div class="row">
        <div class="form-group col-md-2">
            <label for="rutUsuario">Rut</label>
            @Html.TextBoxFor(m => m.RutPersonal, new { @class = "form-control" })
        </div>
        <div class="form-group col-md-6">
            <label for="idUsuario">Nombre</label>
            @Html.TextBoxFor(m => m.NombrePersonal, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label for="nombrePersona">Ap. Paterno</label>
            @Html.TextBoxFor(m => m.ApellidoPaternoPersonal, new { @class = "form-control" })
        </div>
        <div class="form-group col-md-6">
            <label for="apellidoPaterno">Ap. Materno</label>
            @Html.TextBoxFor(m => m.ApellidoMaternoPersonal, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label for="apellidoMaterno">Región</label>
            @Html.DropDownList("ddlRegion", new SelectList(Model.regionEntities, "IdRegion", "NombreRegion"), "Seleccione una Región", new { @class = "form-control" })
        </div>
        <div class="form-group col-md-6">
            <label for="correoElectronico">Comuna</label>
            @Html.DropDownList("ddlComuna", ViewBag.ListaComuna as List<SelectListItem>, "Seleccione una Comuna", new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label for="apellidoMaterno">Teléfono</label>
            @Html.TextBoxFor(m => m.TelefonoPersonal, new { @class = "form-control" })
        </div>
        <div class="form-group col-md-6">
            <label for="correoElectronico">E-Mail</label>
            @Html.TextBoxFor(m => m.CorreoElectronico, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group col-md-2">
        <label for="fecVctoLicenciaB">Fecha Vcto. Licencia B</label>
        @Html.TextBoxFor(m => m.FechaLicenciaClaseB, new { @class = "form-control" })
    </div>
    <br />
    <br />
    <div class="row">
        <h4>Edad e Hijos</h4>

        <div class="row">
            <div class="form-group col-md-2">
                <label for="nombreHijo">Nombre Hijo</label>
                @Html.TextBoxFor(m => m.NombreHijo, new { @class = "form-control" })
            </div>
            <div class="form-group col-md-3">
                <label for="fecLicencia">Edad</label>
                @Html.TextBoxFor(m => m.EdadHijo, new { @class = "form-control" })
            </div>
            <div class="form-group col-md-3 d-flex align-items-end">
                <button type="button" id="btnAgregarHijo" class="btn btn-primary">
                    Agregar
                </button>
            </div>
        </div>

        <!-- Grilla -->
        <table id="tablaHijo" class="table table-bordered table-striped">
            <thead class="table-dark">
                <tr>
                    <th>Nombre Hijo</th>
                    <th>Edad</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                <!-- Las filas se agregan aquí dinámicamente -->
            </tbody>
        </table>
    </div>
    <br />
    <br />
    <div class="row">
        <h4>Tipos de Licencias</h4>

        <div class="row">
            <div class="form-group col-md-2">
                <label for="fecVctoLicencia">Fecha Vcto. Licencia</label>
                @Html.TextBoxFor(m => m.FechaVctoLicencia, new { @class = "form-control" })
            </div>
            <div class="form-group col-md-3">
                <label for="fecLicencia">Fecha Licencia</label>
                @Html.DropDownList("ddlTipoLicencia", new SelectList(Model.tipoLicenciaEntities, "IdTipoLicencia", "NombreTipo"), "Seleccione una Licencia", new { @class = "form-control" })
            </div>
            <div class="form-group col-md-3 d-flex align-items-end">
                <button type="button" id="btnAgregar" class="btn btn-primary">
                    Agregar
                </button>
            </div>
        </div>

        <!-- Grilla -->
        <table id="tablaLicencias" class="table table-bordered table-striped">
            <thead class="table-dark">
                <tr>
                    <th>Fecha</th>
                    <th>Tipo de Licencia</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                <!-- Las filas se agregan aquí dinámicamente -->
            </tbody>
        </table>
    </div>
    <br />
    <br />
    <div class="row">
        <h4>Documentación</h4>
        <div class="row">
            @await Html.Grid(Model.tipoDocumentoEntities).Named("gridTipoDocumento").Columns(c =>
            {
                c.Add(model => model.IdTipoDocumento, true);
                c.Add(model => model.NombreTipoDocumento).Titled("Nombre").SetWidth(20);
                c.Add()
                .Encoded(false)
                .Sanitized(false)
                .SetWidth(30)
                .Titled("Archivo")
                .RenderValueAs(o => $"<input type='file' class='form-control file-documento' " + $"data-id='{o.IdTipoDocumento}' " + $"data-nombre='{o.NombreTipoDocumento}' />");
            }).WithPaging(20).EmptyText("No se encontraron registros").RenderAsync()
        </div>
    </div>

    <!-- Contenedor de hidden inputs DENTRO del form -->
    <div id="hiddenContainerPersonalTipoLicencia"></div>
    <div id="hiddenContainerPersonalHijo"></div>
    <!-- ✅ Contenedor donde se renderiza el PartialView Mensajeria -->
    <div id="resultadoMensaje"></div>
    <button type="button" id="btnGrabar" name="btnGrabar" class="btn btn-info" style="margin-top: 2rem;">Grabar</button>
}

@section Scripts {
    <script>
        var getComuna_Url = '@Url.Action("GetComuna", "Personal")';
         var validarRut_Url = '@Url.Action("ValidarRut", "Personal")';
    </script>
    <script src="~/js/Formulario.js"></script>
}

